.version.videos /* version checker */
{
	color: #0000E1;
	background-color: #02E6F5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 791px;
	min-height: 414px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 135px 62px 34px;
}

#pu129-4
{
	width: 0.01px;
}

#u129-4
{
	z-index: 10;
	width: 60px;
	min-height: 35px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#u127-4
{
	z-index: 2;
	width: 55px;
	min-height: 35px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u128-4
{
	z-index: 6;
	width: 55px;
	min-height: 35px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#pu229-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 105px;
}

#u229-4
{
	z-index: 17;
	width: 352px;
	min-height: 160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u133
{
	z-index: 14;
	width: 340px;
	min-height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 373px;
}

#pu231-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 140px;
}

#u231-4
{
	z-index: 21;
	width: 352px;
	min-height: 160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u139
{
	z-index: 15;
	width: 340px;
	min-height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 373px;
}

#pu233-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 146px;
}

#u233-4
{
	z-index: 25;
	width: 352px;
	min-height: 160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u227
{
	z-index: 16;
	width: 340px;
	min-height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 373px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

